body {
     font-family: Garamond, Baskerville, Baskerville Old Face, Times New Roman, serif;
}

a {
     color: rgb(100, 100, 100);
     transition: 0.75s;
     text-decoration: underline #BBB dotted 1px;
}

a:active {
     color: rgb(50, 50, 50);
     transition: 0.1s;
}

hr {
     color: #EEE;
}

table {
     margin: 30px;
}

.data td {
     padding: 5px;
     border-bottom: dotted 1px #AAA;
}

body.raw a {
     text-decoration: none;
}

body.raw table {
     margin: 30px;
}

body.raw td, th {
     padding: 10px 25px;
}

body.raw thead {
     color: #FFF;
     background: #555;
}

body.raw td:nth-child(even) {
     text-align: right;
}

body.raw tr:nth-child(even) {
     background: #EEE;
}

body.raw .info {
     text-align: center;
}

svg {
     width: 100px;
     height: 100px;
     fill: rgb(160, 160, 160);
     transition: 0.75s;
}

svg:active {
     fill: rgb(80, 80, 80);
     transition: 0.1s;
}

.drive {
     height: 400px;
}

.simple {
     height: 900px;
}

.pro {
     height: 1000px;
}

.panel {
     width: 600px;
     margin: auto;
     text-align: center;
}

.links {
     width: 350px;
     padding: 0;
     margin: 100px auto;
     border-top: 0;
     border: 1px solid #BBB;
     border-radius: 15px 15px 0 0;
     font-size: 20px;
     color: #888;
}

.links li {
     list-style: none;
     background: #EEE;
     padding: 10px 20px;
     border-top: 1px solid #CCC;
}

.links li:first-child {
     color: #FFF;
     background: #555;
     border: none;
     border-radius: 10px 10px 0 0;
}
 
